<div class="contenedor-login">

    <h1 class="titulo">Registro</h1>

        <form  class="col-6">          

            <div class="form-group">
                <label for="nombre" class="descripcion">Nombre</label>
                <input type="text" id="nombre"  class="form-control" />
               
            </div>

            <div class="form-group">
                <label for="apellido" class="descripcion">Apellido</label>
                <input type="text" id="apellido" class="form-control"   />
            </div> 

            <div class="form-group">
                <label class="descripcion">Email</label>
                <input type="text" id="email"   class="form-control" />
            </div>

            <div class="form-group">
                <label class="descripcion">Edad</label>
                <input type="number" id="edad"  class="form-control" />
            </div>

            <div class="form-group">
                <label for="password" class="descripcion">Contraseña</label>
                <input type="password" id="password"  class="form-control"  />
            </div>

            <div class="form-group">
                <label for="confPassword" class="descripcion">Confirmar Contraseña</label>
                <input type="password" id="confPassword"  class="form-control"  />
            </div> 

            <button class="btn btn-primary mt-4">Registrate</button>
   
        </form>
        
</div>