 <div class="contenedor-login">

    <h1 class="titulo">Login</h1>

        <form  #loginForm="ngForm" (ngSubmit)="func_login(loginForm)" class="col-6" >          

            <div class="form-group">
                <label class="descripcion" name='dni' [(ngModel)]="user.dni">DNI</label>
                <input type="text" id="dni" name="dni"  class="form-control" required  [(ngModel)]="user.dni" />
                
            </div>

            <div class="form-group" >
                <label for="password" class="descripcion">Contraseña</label>
                <input type="password" id="password"  name="password"  class="form-control" required  [(ngModel)]="user.password" />
            </div> 

            <button type="submit" class="btn btn-primary mt-4">Ingresar</button>
            
        </form>

        <div class="mt-4">
            <button routerLink="/register" class="btn btn-secondary">Si no tenes cuenta registrate</button>
        </div>
        
</div> 