<app-header></app-header>
    
		<section class="portfolio-area pt-60">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
					    <div class="section-title">
							<h1 class="titulo">Ventas</h1>
						</div>
					</div>
				</div>
				<hr />
				<div class="table-responsive">
					<table class="table table-striped custom-table">
						<thead>
						  <tr>
							
							<th scope="col">ID Venta</th>
							<th scope="col">Monto</th>
							<th scope="col">Fecha</th>
							<th scope="col">Estado</th>
							<th scope="col">Detalles</th>
							<th scope="col"></th>
						  </tr>
						</thead>
						<tbody>
						  <tr scope="row"  *ngFor="let item of ventas">
			  
							
									
									<td>
										{{item._id}}
									</td>
									<td>
										${{item.subtotal}}
									</td>
									<td>{{item.creado|date}}</td>
									<td>{{item.estado}}</td>
									<td><a  [routerLink]="['/mis-compras/'+item._id]">Ver detalles</a></td>
						  
						  </tr>
			  
						  
						</tbody>
					  </table>

					
				</div>

			</div>
		</section>

		<app-footer></app-footer>

