<app-header></app-header>
    
		<section class="portfolio-area pt-60">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-6 text-center text-lg-left">
					    <div class="section-title">
							<h1 class="titulo">Mis Compras</h1>
						</div>
					</div>
				</div>
				<hr />
				<div class="table-responsive">
					<table class="table ps-table ps-table--shopping-cart">
					  <thead>
						<tr>
						  <th>ID Venta</th>
						  <th>Monto</th>
						  <th>Fecha</th>
						  <th>Estado</th>
						  <th>Detalles</th>
						  <th></th>
						</tr>
					  </thead>
					  <tbody>
						<tr *ngFor="let item of ordenes">
						  <td style="min-width: 300px !important;">
							<div class="ps-product--sidebar">
							  <div class="ps-product__content" style="padding-left: 0px !important;">
								<a class="ps-product__title">
								  {{item._id}}
								</a>
								<p class="ps-product__price">Código de compra</p>
							  </div>
							</div>
						  </td>
						  <td>
							  <span>${{item.subtotal}}</span>
						  </td>
						  <td>
							{{item.creado|date}}
						  </td>

						  <td>
							{{item.estado}}
						  </td>
						  <td>
							<a style="font-size: 1.3rem;cursor: pointer;color: #127c5f;
							font-weight: 700;" [routerLink]="['/mis-compras/'+item._id]">Ver detalles</a>
						  </td>
					  
						</tr>
					 
					  </tbody>
					</table>

					
				  </div>

			</div>
		</section>

		<app-footer></app-footer>

