<footer class="footer">
    <div class="container">
        <div class="row">            
            <div class="col-12 col-md-3">
                <h6 class="footer-title">Descarga nuestra app!</h6>
                <ul class="footer-app">
                    <li><a href="https://play.google.com/store?hl=es_419&gl=US"><img src="../../../assets/img/playstore.jpg" alt="Descargalo desde la Play Store"></a></li>
                    <li><a href="https://www.apple.com/la/app-store/"><img src="../../../assets/img/appstore.jpg" alt="Descargalo desde la App Store"></a></li>
                </ul>
            </div>

            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer-title">Planes</h6>
                <ul class="footer-list">
                    <li><a href="#">1 Dispositivo</a></li>
                    <li><a href="#">3 Dispositivos</a></li>
                    <li><a href="#">4 a 6 Dispositivos</a></li>
                </ul>
            </div>
          
            <div class="col-6 col-sm-4 col-md-3">
                <h6 class="footer-title">Mapa del sitio</h6>
                <ul class="footer-list">
                    <li><a href="#">Incio</a></li>
                    <li><a href="#">Peliculas</a></li>
                    <li><a href="#">Mi Lista</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
           
            <div class="col-12 col-sm-4 col-md-3">
                <h6 class="footer-title">Contacto</h6>
                <ul class="footer-list">
                    <li><a href="tel:+5493466433400">+5493466433400</a></li>
                    <li><a href="mailto:flaviosalasevicius@hotmail.com">flaviosalasevicius@hotmail.com</a></li>
                </ul>
                <ul class="footer-social">
                    <li class="facebook"><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
          
            <div class="col-12 footer-list">
                <div class="footer-copyright">
                    <small><a target="_blank"  href="mailto:flaviosalasevicius@hotmail.com">Flavio Salasevicius</a></small>
                </div>
            </div>
        </div>
    </div>
</footer>